<div class="classBody">
  <h3>Cálculo IMC</h3>
  <div class="row">
    <div class="input-field col s6">
      <input
        id="altura"
        type="number"
        class="validate"
        placeholder="Metros"
        step="0.01"
        [(ngModel)]="alturaValue"
      />
      <label class="active" for="altura">Altura (ex: 1,60)</label>
    </div>
    <div class="input-field col s6">
      <input
        id="peso"
        type="number"
        class="validate"
        placeholder="Quilos"
        step="0.01"
        [(ngModel)]="pesoValue"
      />
      <label class="active" for="peso">Peso (ex: 65,3)</label>
    </div>
  </div>
  <div class="row">
    <div class="buttonClass">
      <button
        id="buttonCalcular"
        class="waves-effect waves-light btn"
        (click)="calculaIMC()"
      >
        Calcular
      </button>
    </div>
    <div class="buttonClass">
      <button
        id="buttonLimpar"
        class="waves-effect waves-light btn"
        (click)="limparCampos()"
      >
        Limpar
      </button>
    </div>
  </div>
  <div class="result">
    <!-- Componente de resultado -->
    <app-result [resultValue]="resultValue"> </app-result>
    <!-- Componente de tabela -->
    <app-table [index]="index"> </app-table>
  </div>
</div>
